/* popins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,200&display=swap");
/* global design */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
.secondary-color {
  color: #e55473;
}
label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
}
.section {
  margin-top: 11rem;
  margin-bottom: 10rem;
}
.primary-btn {
  padding: 1.2rem 2.5rem;
  color: white;
  background-color: #e55473;
  font-size: 1.2rem;
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* header section */
.header {
  background-color: rgba(229, 84, 115, 0.1);
  max-width: 100%;
  max-height: 54rem;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6rem;
}
.banner-content {
  max-width: 44rem;
  padding-bottom: 9rem;
}
.banner-title {
  font-size: 4rem;
  line-height: 1.2;
  color: #272727;
  margin-bottom: 2rem;
  font-weight: 700;
}
.banner-desc {
  font-size: 1rem;
  color: #27272799;
  max-width: 36rem;
  margin-bottom: 32px;
}

.banner-img {
  max-width: 39rem;
  max-height: 50rem;
}
.banner-img img {
  width: 100%;
  height: 100%;
  padding: 0 0 0 2rem;
}

/* featured */
.featured-content {
  text-align: center;
}
.featured-heading {
  font-size: 2.5rem;
  color: #272727;
  padding-bottom: 24px;
}
.featured-desc {
  max-width: 36rem;
  margin: 0 auto;
  color: rgba(39, 39, 39, 0.6);
}
.featured-flower {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.flower-card {
  display: flex;
  justify-content: center;
  max-width: 33rem;
  max-height: 40rem;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 3rem 0;
}
.flower-card.red-rose {
  background: rgba(5, 151, 160, 0.15);
}
.flower-card.yellow {
  background: rgba(71, 125, 17, 0.15);
}
.flower-img {
  max-width: 19rem;
  max-height: 20rem;
  padding-top: 20px;
}
.flower-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flower-img .flower-title {
  text-align: center;
  text-decoration: underline;
  color: #272727;
  font-size: 1.2rem;
  margin: 1rem 0;
}
/* basic info */
.basic-info-section {
  margin-bottom: 6rem;
}
.basic-info {
  max-height: 20rem;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: space-around;
  padding: 5rem 6rem;
}
.basic-info-card {
  text-align: center;
}
.basic-info-card .card-img {
  width: 88px;
  height: 88px;
  margin: 0 auto;
}
.basic-info-card .card-img > img {
  width: 100%;
  height: 100%;
}
.basic-info-card .card-text {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 600;
  color: #272727cc;
}

/* deal */
.deal-section {
  width: 100%;
  max-height: 38rem;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin-bottom: 6rem;
}
.deal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6rem 0;
}
.deal-content {
  max-width: 38rem;
  text-align: center;
}
.deal-heading {
  font-size: 2.5rem;
  color: #272727;
  margin-bottom: 24px;
}
.deal-desc {
  color: rgba(39, 39, 39, 0.6);
  font-size: 1rem;
  text-align: center;
  margin-bottom: 24px;
  font-weight: normal;
}

.deal-img {
  max-width: 20rem;
  max-height: 26rem;
}
.deal-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* instagram section */
.instagram-content {
  text-align: center;
  margin-bottom: 4rem;
}
.instagram-heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: #272727;
  margin-bottom: 24px;
}
.instagram-image {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.instagram-desc {
  max-width: 37rem;
  margin: 0 auto;
  color: rgba(39, 39, 39, 0.6);
  line-height: 1.9rem;
}
.instagram-card {
  width: 21.3rem;
  height: 24.7rem;
}
.instagram-card .card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* newsletter */
.newsletter {
  border-radius: 8px;
  background: url("../images/newsletter.png"),
    lightgray 0px -203.444px / 100% 213.755% no-repeat;
  width: 100%;
  height: 28rem;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 6rem;
}
.newsletter-heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: #272727;
  margin-bottom: 1rem;
}
.newsletter-desc {
  font-size: 1rem;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  margin-bottom: 48px;
}
.newsletter-form input[type="text"] {
  width: 43rem;
  height: 4rem;
  font-size: 1.2rem;
  padding-left: 1.3rem;
  border: none;
  border-radius: 8px;
  background: #fff;
}
.newsletter-form input[type="text"]:focus {
  outline: none;
}
.newsletter-form input[type="submit"] {
  margin-left: 10px;
}

/* contact form */
.contact-heading {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}
.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
}
.contact .contact-image {
  max-width: 35rem;
  max-height: 32rem;
}
.contact .contact-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}
.contact-form input[type="text"],
.contact-form input[type="email"] {
  width: 22rem;
  height: 3rem;
  margin-bottom: 1.4rem;
  border-radius: 10px;
  outline: none;
  background: white;
  font-size: 1.2rem;
  padding-left: 10px;
  border: 2px solid #35a29f;
}
.contact-form input[type="text"],
.contact-form input[type="email"]:hover {
  outline: none;
}
.contact-form .message-field textarea {
  width: 25rem;
  height: 13rem;
  border: 2px solid #35a29f;
  font-size: 1.2rem;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-top: 10px;
}
.contact-form .message-field textarea:hover {
  outline: none;
}
/* footer */
.footer {
  width: 100%;
  max-height: 29rem;
  background-color: #111010;
  color: #fff;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8rem 0;
}
.footer-content .footer-heading {
  font-size: 3rem;
  margin-bottom: 24px;
}
.footer-desc{
    font-size: 1rem;
    text-align: center;
}
.footer-content .copyright {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 24px;
}
